@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

// Setting for Container size
.container {
    max-width: 1040px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}


@mixin mobile {
    @media (min-width: 0px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

// Color assets
$primaryWhite : #ffffff;
$primaryColor : #c9141d;
$primaryDarkColor : #9e0911;
$primaryRed : #E62E02;
$primaryBlack : #141414;
$primaryGrey : #5d5d5d;
$primaryLightGrey : #efefef;
$primaryYellow : #ffc800;
$primaryDarkBlue : #2b2d42;

$transparentPrimaryRedDarkerColor : #3402054d;
$transparentPrimaryDarkBlue : #2b2d4294;

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: $primaryColor;
    color: $primaryWhite;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.label {
    color: $primaryBlack;
    font-size: 28px;
}

.navbar {
    width: 100%;
    margin: auto;
    background: $primaryColor;
    padding: 15px 0;

    &-wrapper {
        max-width: 1040px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    & .logo {
        font-size: 1.2rem;
        color: $primaryWhite;
        display: flex;
        align-items: center;

        & a {
            display: block;

            & #logo-icon {
                height: 30px;
                vertical-align: middle;
            }

            & span {
                line-height: 44px;
                padding-left: 0.2rem;
                font-weight: 700;
                font-size: 18pt;
            }
        }

    }

    &-list {
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 500;

        & .nav-item {
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            padding: 4px 12px;
            color: $primaryWhite;
            transition: 0.15s ease-in-out all;

            &:hover {
                background-color: $primaryWhite;
                color: $primaryColor;
                border-radius: 8px;
            }

            & a {
                color: inherit;
                font-size: 12pt;
                line-height: 44px;
                min-width: 44px;
                min-height: 44px;
                display: block;
            }
        }
    }

    & #menu-toggle-container {
        background: transparent;
        border: none;
        z-index: 3;
        cursor: pointer;
        padding: 22px 10px;
        right: 0;

        &>span.active {
            right: 35px;

            & span {
                background: #ffffff00;

                &::after {
                    transform: rotate(-45deg);
                    background: $primaryWhite;
                    margin-top: 0;
                }

                &::before {
                    margin-top: 0;
                    background: $primaryWhite;
                    transform: rotate(45deg);
                }
            }
        }
    }

    & #menu-toggle {
        cursor: pointer;
        display: block;

        & span {
            background: $primaryWhite;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
            content: "";

            &::after {
                background: $primaryWhite;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                margin-top: 6px;
            }

            &::before {
                background: $primaryWhite;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                margin-top: -6px;
            }
        }
    }

}



// Hero Element
.hero {
    background-image: url('../public/images/heros/hero-image_2.jpg');
    margin: auto;
    transition: 0.25s ease-out all;
    min-height: 500px;
    animation: hero-background 60s infinite step-start;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-overlay {
        display: flex;
        align-items: center;
        position: relative;
        min-height: inherit;
        background-color: $transparentPrimaryRedDarkerColor;
        height: 100%;

        &-darker {
            background-color: $transparentPrimaryDarkBlue;
        }
    }

    &-blur {
        backdrop-filter: blur(4px);
    }

    &-content {
        max-width: 1040px;
        margin: auto;
        padding: 32px;

        @include tablet {
            padding: 64px;
        }

        color: $primaryWhite;

        @include desktop {
            width: 1040px;
        }

        & .caption {
            @include tablet {
                width: 70%;
            }

            & span {
                font-weight: 800;
                font-size: 3rem;
            }

            & p {
                margin-top: 25px;
            }
        }

        & .resto-caption {
            display: block;
            flex-direction: column;

            @include tablet {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            justify-items: flex-start;

            & .image-container {
                @include tablet {
                    padding: 0px 22px;
                    width: 50%;
                }

                & img {
                    width: 100%;
                    margin-bottom: 25px;
                    aspect-ratio: 4/3;

                    @include tablet {
                        width: 100%;
                        margin-bottom: 0;
                    }

                    border-radius: 3%;
                    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                    -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    /* Firefox 3.5 - 3.6 */
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }

            & .text-container {
                @include tablet {
                    width: 50%;
                }

                h1 {
                    font-weight: 700;
                    font-size: 2rem;
                }

                @include desktop {
                    & .rating-item {
                        font-size: 2rem;
                    }
                }
            }

        }

    }
}

.filter-restaurant {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    &>div {
        width: 100%;
    }

    & label {
        font-weight: 500;
        font-size: 14px;
    }

    & select {
        width: 200px;
        min-height: 44px;
        padding: 5px 5px 5px 5px;
        border-radius: 8px;
        border: 1px solid rgba($primaryGrey, 0.2);

        @include mobile {
            width: 100%;
        }
    }
}

.list-restaurant {
    margin-top: 24px;
    display: grid;

    // width: 100%;
    @include mobile {
        grid-template-columns: 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    & .item-restaurant {
        display: block;
        width: auto;
        margin: 10px;
        border-radius: 3%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        & .head {
            position: relative;
            display: block;

            & span.city {
                background: $primaryColor;
                padding: 8px 10px;
                color: $primaryWhite;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 4px;
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
            }

            & img {
                object-fit: cover;

                width: 100%;
                border-radius: 3% 3% 0 0;
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);

                @include tablet {
                    height: 250px;
                }

                @include desktop {
                    height: 250px;
                }
            }
        }

        & .body {
            padding: 15px;

            & .title {
                display: block;
                font-weight: 500;
                font-size: 1.5rem;
                margin-bottom: 10px;
                color: $primaryBlack;
            }


            & p {
                line-height: 180%;
                font-size: 10pt;
                color: $primaryGrey;
            }
        }

        & .footer {
            display: flex;
            border-top: 1px solid #eee;
            justify-content: space-between;

            & div {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                text-align: center;
                width: 50%;

                &:nth-of-type(odd) {
                    border-right: 1px solid #eee;
                }
            }
        }
    }
}

.item-restaurant:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 32px 0px;
    cursor: pointer;
    transition: all 100ms ease-in;
    transform: scale(1.015);
}

.ratings {
    display: flex;
    justify-content:left;
    align-items: center;

    & .restaurant-stars {
        color: $primaryYellow;
        margin-bottom: 5px;
        font-size: 14pt;
        margin-right: 16px;

        & i {
            color: inherit;
        }

        ;

        & span {
            color: $primaryBlack;
            font-size: 8pt;
        }
    }

    & span {
        font-weight: 400;
        font-size: 16pt;
    }
}

footer {
    padding: 4px 16px;
    background-color: $primaryDarkBlue;

    & .content {
        max-width: 1040px;
        display: flex;
        justify-content: center;
        margin: auto;
        color: $primaryWhite;
        font-size: 12px;
    }

    #copyright {
        height: 44px;
        display: flex;
        align-items: center;
    }

    #copyright a {
        height: 44px;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 0px) {
    .navbar {
        &-list {
            display: none;
        }

        // &-list-mobile{
        //     display: block;
        //     position: absolute;
        // }
        & #menu-toggle-container {
            display: block;
        }
    }

    .mobile-nav {
        z-index: 2;
        transition: 0.25s ease-in-out all;
        background: $primaryWhite;
        opacity: 0.95;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .mobile-nav-content {
            color: $primaryWhite;
            display: block;

            & span {
                display: block;
                text-align: center;
            }

            & a {
                font-size: 2rem;
                color: inherit;
                display: block;
                position: relative;
                padding: 8px 2px;
                text-align: center;
                transition: 0.25s ease-in-out all;

                &:hover {
                    background: $primaryWhite;
                    color: $primaryColor;
                    border-radius: 8px;
                }

                &:active {
                    top: 5px;
                }
            }
        }
    }

    .mobile-nav-active {
        right: 0;
        background: $primaryColor;
    }
}

@media screen and (min-width: 768px) {

    .navbar {
        &-list {
            display: block;
        }

        & #menu-toggle-container {
            display: none;
        }
    }

    .mobile-nav {
        display: none;
    }
}

@import "./utility.scss";
@import "./page-loader.scss";
@import "./detail.scss";
@import "./component.scss";

button.restaurant-save-button {
    border: none;
    background: none;
    cursor: pointer;

    &:active {
        & span.item {
            font-size: 1.2rem;
            padding-top: 2px;
        }
    }
}

.clickable {

    pointer-events: none;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 22px;
    font-weight: 400;

    &:hover {
        padding-top: 25px;
        padding-bottom: 19px;
    }

    &-active {
        color: $primaryColor
    }
}